/* styles for order_confirmation */

/* .container {
    border-radius: 20px;
    background-color: #343a40;
    color: #fff;
    padding: 40px;
    box-shadow: -1px 1px 18px 3px #a5a1a1;
    height: 80vh;
} */