
        /* Ensure form fields stay in line */
    .form-group {
        margin-bottom: 1.5rem; /* Space between form fields */
    }

    /* Ensure that the input group buttons align properly */
    .input-group {
        display: flex;
        flex-wrap: nowrap;
    }

    .input-group-append {
        display: flex;
        align-items: center;
    }

    textarea {
        resize: none;
    }