{% extends "base.html" %}
{% load static %}

{% block title %} 
Order Details |
{% endblock title %}

{% block body %}
<div class="container my-5">
    <h1><i class="fa-regular fa-circle-check"></i> Order Confirmation </h1>

    <p>Thank you for your order! Here are your order details:</p>

    <h3><i class="fa-solid fa-arrow-right"></i> Items:</h3>

        <ul>
        {% for item in order_data.items %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>

    <p><strong><i class="fa-solid fa-arrow-right"></i> Name:</strong> {{ order_data.name }}</p>
    <p><strong><i class="fa-solid fa-arrow-right"></i> Email:</strong> {{ order_data.email }}</p>
    <p><strong><i class="fa-solid fa-arrow-right"></i> Phone:</strong> {{ order_data.phone }}</p>
    <p><strong><i class="fa-solid fa-arrow-right"></i> Address:</strong> {{ order_data.address }}</p>
    <p><strong><i class="fa-solid fa-arrow-right"></i> Message:</strong> {{ order_data.message }}</p>

</div>

<style>
    .container {
        border: 1px solid;
        border-radius: 20px;
        padding: 30px;
    }
</style>

{% endblock body %}